* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #d82b24;
    padding: 10px 5px;
}

header a {
    color: white;
    text-decoration: none;
}

/* cards */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-top: 30px;
}

.container .card {
    flex-basis: 30%;
}

.container .card img {
    max-width: 100%;

}

/* detail */
.detail {
    margin-top: 30px;
    padding: 0 15px;
    width: 90%;
    margin: 0 auto;
}

.detail .flex {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 30px;
}

.detail .card-title {
    font-size: 25px;
}

.detail img {
    max-height: 300px;
}

.detail form {
    margin-top: 30px;
}

.detail form h2 {
    margin: 10px;
}

.detail form input,
.detail form textarea {
    margin: 10px 5px;
}

.detail form .form-control {
    width: 98%;
}

.detail form .btn {
    margin: 10px 20px;
}

.detail .left {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}